/* .title h2{color: #28a745; }
.title h5{color: #666;}
.nav-tabs li:hover h3{color: #28a745; border-bottom: #28a745 solid 2px; }
.nav-tabs li h3{ color: #666}
.card .foodDetail h3{color: #2fa745;}
.messageModal button{background: #28a745;}
.item_detail h3{color: #28a745;}
.nav-tabs li a.active h3 {
  text-decoration: none;
  color: #28a745;
  border-bottom: #28a745 solid 2px;
} */
/*arabic*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body{font-family: 'Almarai', sans-serif !important;}
html h1, html h2, html h3, html h4, html h5, html h6, html a, html p, html li, input, textarea, span, div, html, body, html a {
    margin-bottom: 0px;
    font-family: 'Almarai', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
}
.contentMenuWrapper .contentFood{direction: rtl;}
.card .foodDetail {
    float: right !important;
    text-align: right;
    margin-right: 12px;
    margin-left: 0;
   }
   .card .img_block {
  
    float: right !important;
}